/* ~/.config/waybar/style.css */
* {
	font-family: "Moralerspace Argon NF";
	font-size: 14px;
	color: #FFFFFF;
	/* background は window#waybar 側で設定 */
	background: none;
	margin: 0;
	padding: 0;
}

window#waybar {
	background-color: #222222;
	color: #FFFFFF;
}

.module {
	padding: 2px 6px;
	margin: 0 2px;
	border-radius: 4px;
	background-color: #333333;
	border: 1px solid #80afff;
}


button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* ツールチップの背景／文字色を明示的に指定 */
tooltip, tooltip * {
	background-color: rgba(45, 45, 60, 0.95);
	color: #ffffff;
	border-radius: 4px;
	padding: 1px;
}

/* 必要なら影も足す */
tooltip {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

#custom-power { 
	background-color: #ff8080;
}

#network.disconnected {
	background-color: #ff8080;
}

#battery {
	background: #408040;
}

#battery.warning {
	background: #a0a060;
}

#battery.critical {
	background: #804040;
}

#battery.charging {
	background: #6060a0;
}

/* ワークスペースボタン (hyprland/workspaces) のスタイル */
#workspaces button {
	padding: 0 8px;
	margin: 0 2px;
	border-radius: 3px;
	background-color: #c0c0c0;
	border: none;
}

#workspaces button label {
	color:#000000;
}

#workspaces button.active label {
	color:#ffffff;
}

#workspaces button.active {
	background-color: #8080ff;
}

#window {
min-width:100px
}

/* システムトレイ (tray) のスタイル */
#tray {
	padding: 0 6px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#tray menu {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}
